.pagination {
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
}

ul {
  list-style: none;
  display: flex;
  border: 1px solid red;
  font-size: 1.3em;
}

li {
  transition: all 0.3s;
  padding: 0.25rem;
}

nav a {
  text-decoration: none;
  display: inline-block;
  padding: 0.3rem;
  color: inherit;
}

.active {
  color: #282c34;
  background-color: red;
}
