.pagination {
  color: var(--djws);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
}

ul {
  list-style: none;
  display: flex;
  border: 1px solid var(--djws);
  font-size: 1.3em;
}

li {
  transition: all 0.3s;
  padding: 0.25rem;
}

nav button {
  padding: 0.3rem;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

.active {
  color: #282c34;
  background-color: var(--djws);
}
