.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  padding: 0.2rem;
}

.titleText {
  flex: 2;
  color: var(--djws);
}

.titleButtonContainer {
  flex: 1;
  text-align: center;
  margin-bottom: 5px;
}
