.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  padding: 0.2rem;
}

@media only screen and (max-width: 990px) {
  .titleText {
    font-size: 0.9rem;
  }
}

.titleText {
  flex: 2;
  color: var(--djws);
}

.titleButtonContainer {
  flex: 1;
  text-align: center;
  margin-bottom: 5px;
}
