* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --djws: crimson;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-gradient {
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-bottom: 4px solid rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.btn-gradient.red {
  background: rgba(250, 90, 90, 1);
  background: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(rgba(250, 90, 90, 1)),
    to(rgba(232, 81, 81, 1))
  );
  background: -webkit-linear-gradient(
    rgba(250, 90, 90, 1) 0%,
    rgba(232, 81, 81, 1) 100%
  );
  background: -moz-linear-gradient(
    rgba(250, 90, 90, 1) 0%,
    rgba(232, 81, 81, 1) 100%
  );
  background: -o-linear-gradient(
    rgba(250, 90, 90, 1) 0%,
    rgba(232, 81, 81, 1) 100%
  );
  background: linear-gradient(
    rgba(250, 90, 90, 1) 0%,
    rgba(232, 81, 81, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa5a5a', endColorstr='#e85151', GradientType=0 );
}

.btn-gradient.green {
  background: rgba(130, 200, 160, 1);
  background: -moz-linear-gradient(
    top,
    rgba(130, 200, 160, 1) 0%,
    rgba(130, 199, 158, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(130, 200, 160, 1)),
    color-stop(100%, rgba(130, 199, 158, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(130, 200, 160, 1) 0%,
    rgba(130, 199, 158, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(130, 200, 160, 1) 0%,
    rgba(130, 199, 158, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(130, 200, 160, 1) 0%,
    rgba(130, 199, 158, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(130, 200, 160, 1) 0%,
    rgba(124, 185, 149, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82c8a0', endColorstr='#82c79e', GradientType=0 );
}

.btn-gradient.large {
  padding: 15px 45px;
  font-size: 22px;
  font-family: inherit;
}
